<!DOCTYPE HTML>
<html>
<head>
    <title>Borrower General</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,400italic,300italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/assets/css/docs.theme.min.css">

    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/assets/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/assets/owlcarousel/assets/owl.theme.default.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/assets/plugins/owl-carousel/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/assets/plugins/owl-carousel/assets/ico/favicon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Yeah i know js should not be in header. Its required for demos.-->

    <!-- javascript -->
    <script src="/assets/plugins/owl-carousel/assets/vendors/jquery.min.js"></script>
    <script src="/assets/plugins/owl-carousel/assets/owlcarousel/owl.carousel.js"></script>
    <style>
        .checked {
            border: 5px solid green;
            opacity: 0.6;
        }
        .box .content {
            padding: 0.1rem;
            padding-bottom: 25px;
        }
    </style>
</head>
<body style="background-color: #f2f2f2;">

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="#"><span>Borrower</span></a></div>
    <a href="#menu" id="menu_link"><span id="span_menu">Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">Home</a></li>
        <li><a href="generic.html">Generics</a></li>
        <li><a href="elements.html">Elements</a></li>
    </ul>
</nav>

<!-- Banner -->
<section class="" style="min-height: 50px;height: 50px;padding: 3.2em 0;background-color: black">
    <article id="article">
        <img src="/images/slide01.jpg" alt=""/>
        <div class="inner">
            <header>
                <p>A free responsive web site template by <a href="https://templated.co">TEMPLATED</a></p>
                <h2>Hielo</h2>
            </header>
        </div>
    </article>
</section>

<div id="borrower_title">
    Deal Details
</div>
<!-- One -->
<section class="wrapper" style="background-color: #f2f2f2">
    <div class="inner">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-6 text-center" style="margin-bottom: 15px">
                <button class="btn btn-block btn-info  active">
                    <a data-toggle="tab" href="#general">General</a>
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-6 text-center" style="margin-bottom: 15px">
                <button class="btn btn-block btn-info">
                    <a href="#deal">Deal</a>
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-6 text-center" style="margin-bottom: 15px">
                <button class="btn btn-block btn-info">
                    <a href="#buyer">Buyer</a>
                </button>
            </div>
            <div class="col-md-3 col-sm-3 col-6 text-center" style="margin-bottom: 15px">
                <button class="btn btn-block btn-info">
                    <a href="#supplier">Supplier</a>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="tab-content">
    <div id="general" class="tab-pane in active">
        <section id="one" class="wrapper style2 tab-content" style="padding-top: 2rem;padding-bottom: 0rem;">
            <div class="inner">
                <div class="grid-style">

                    <div>
                        <div class="box">
                            <div class="content">
                                <header class="align-center">
                                    <h2>Personal Information</h2>
                                </header>
                                <ul style="list-style-type: none">
                                    <li>Full legal Name : <%= deals[0].fullLegalName %></li>
                                    <li>Entity Type : <%= deals[0].entityType %></li>
                                    <li>Legal Address : <%= deals[0].legalAddress %></li>
                                    <li>Mailing Address : <%= deals[0].mailingAddress %></li>
                                    <li>Tax ID : <%= deals[0].taxId %></li>
                                    <li>Phone : <%= deals[0].phone %></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <!--<div class="image fit">-->
                            <!--<img src="images/pic03.jpg" alt=""/>-->
                            <!--</div>-->
                            <div class="content">
                                <header class="align-center">
                                    <h2>Company Information</h2>
                                </header>
                                <ul style="list-style-type: none">
                                    <li>Company Name : <%= deals[0].companyName %></li>
                                    <li>Business Address : <%= deals[0].businessAddress %></li>
                                    <li>Tax ID : <%= deals[0].taxId %></li>
                                    <li>Phone : <%= deals[0].companyPhone %></li>
                                    <li>Company Website : <%= deals[0].companyWebsite %></li>
                                    <li>Contact Name : <%= deals[0].contactName %></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Two -->

        <section id="two" class="wrapper style2" style="padding-top: 0rem;">
            <div class="inner">
                <div class="align-left">
                    <!--<a href="#" class="button alt">Learn More</a>-->
                    <header>
                        <h2 style="padding-left: 30px">Your Story</h2>
                    </header>
                    <div style="border: 1px solid darkgrey">
                        <p style="padding:5px 10px"> Cras aliquet urna ut sapien tincidunt, quis malesuada elit
                            facilisis.
                            Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum.
                            Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="inner">
                <div class="row">
                    <div class="col-6 align-right">
                        <button class="btn btn-lg btn-success" type="button"> Cancel</button>
                    </div>
                    <div class="col-6 align-left">
                        <button class="btn btn-lg btn-success" type="button" id="to_deal_btn"> Continue</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="deal" class="tab-pane">
        <section id="one" class="wrapper style2" style="padding-top: 2rem;padding-bottom: 0rem;">
            <div class="inner">
                <div class="grid-style" style="background-color: white">
                    <div class="text-center" style="width: 100%; margin: 15px">
                        <h2>Deal Information</h2>
                    </div>
                    <div class="row" style="width: 100%">
                        <div class="col-md-6 col-sm-12 col-12">
                            <ul style="list-style-type: none">
                                <li>Total Deal Amount:<%= deals[0].totalDealAmount %></li>
                                <li>Required Funding:<%= deals[0].requiredFunding %></li>
                                <li>Expected Profit Margin:<%= deals[0].expectedProfitMargin %></li>
                                <li>Number of Suppliers:<%= deals[0].numberOfSuppliersInvolved %></li>
                                <li>Deal Type:<%= deals[0].dealType %></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12">
                            <ul style="list-style-type: none">
                                <li>Expected Delivery Date:<%= deals[0].expectedDeliveryDate %></li>
                                <li>Estimated Cost Per Unit:<%= deals[0].estimatedCostPerUnit %></li>
                                <li>Sales Price Per Unit:<%= deals[0].salesPricePerUnit %></li>
                                <li>Number of Units:<%= deals[0].numberOfUnits %></li>
                                <li>Deadline:<%= deals[0].deadline %></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Two -->
        <section id="two" class="wrapper style2" style="padding-top: 0rem;">
            <div class="inner">
                <div class="align-left">
                    <div style="border: 1px solid darkgrey">
                        <p style="padding:5px 10px"> Cras aliquet urna ut sapien tincidunt, quis malesuada elit
                            facilisis.
                            Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum.
                            Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="inner">
                <div class="row">
                    <div class="col-6 align-right">
                        <button class="btn btn-lg btn-success" type="button" id="back_general_btn"> Back</button>
                    </div>
                    <div class="col-6 align-left">
                        <button class="btn btn-lg btn-success" type="button" id="to_buyer_btn"> Continue</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="buyer" class="tab-pane">
        <section id="one" class="wrapper style2 tab-content" style="padding-top: 2rem;padding-bottom: 0rem;">
            <div class="inner">
                <div class="grid-style">

                    <div>
                        <div class="box">
                            <div class="content">
                                <header class="align-center">
                                    <h2>Buyer Information</h2>
                                </header>
                                <ul style="list-style-type: none">
                                    <li>Full Legal Name : <%= deals[0].buyerFullLegalName %></li>
                                    <li>Entity Type : <%= deals[0].buyerEntityType %></li>
                                    <li>Legal Address : <%= deals[0].buyerLegalAddress %></li>
                                    <li>Mailing Address : <%= deals[0].buyerEmailId %></li>
                                    <li>Phone : <%= deals[0].buyerPhone %></li>
                                    <li>Existing Buyer? : <%= deals[0].existingBuyer %></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <div class="content">
                                <header class="align-center">
                                    <h2>Company Information</h2>
                                </header>
                                <ul style="list-style-type: none">
                                    <li>Company Name : <%= deals[0].buyerCompanyName %></li>
                                    <li>Business Address : <%= deals[0].buyerBusinessAddress %></li>
                                    <li>Tax ID : <%= deals[0].buyerTaxId %></li>
                                    <li>Phone : <%= deals[0].buyerPhone %></li>
                                    <li>Company Website : <%= deals[0].buyerCompanyWebsite %></li>
                                    <li>Contact Name : <%= deals[0].buyerContactName %></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Two -->

        <section id="two" class="wrapper style2" style="padding-top: 0rem;">
            <div class="inner">
                <div class="align-left">
                    <!--<a href="#" class="button alt">Learn More</a>-->
                    <header>
                        <h2 style="padding-left: 30px">Your Story</h2>
                    </header>
                    <div style="border: 1px solid darkgrey">
                        <p style="padding:5px 10px"> Cras aliquet urna ut sapien tincidunt, quis malesuada elit
                            facilisis.
                            Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum.
                            Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="inner">
                <div class="row">
                    <div class="col-6 align-right">
                        <button class="btn btn-lg btn-success" type="button" id="back_deal_btn"> Back</button>
                    </div>
                    <div class="col-6 align-left">
                        <button class="btn btn-lg btn-success" type="button" id="to_supplier_btn"> Continue</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="supplier" class="tab-pane">
        <section id="demos">
            <div class="row">
                <div class="large-12 columns">
                    <div class="owl-carousel owl-theme">
                        <% for (var i = 0;i < suppliers.length;i++) { %>
                            <div class="item" aria-checked="false">
                                <header class="align-center">
                                    <h4>Supplier <%= i + 1 %></h4>
                                </header>
                                <ul style="list-style-type: none">
                                    <li>Full Legal Name
                                        : <%= suppliers[i].supplierFirstName %> <%= suppliers[i].supplierLastName %></li>
                                    <li>Entity Type :</li>
                                    <li>Legal Address
                                        : <%= suppliers[i].supplierAddressInformation.streetName %> <%= suppliers[i].supplierAddressInformation.City %> <%= suppliers[i].supplierAddressInformation.CountryCode %></li>
                                    <li>Mailing Address :<%= suppliers[i].supplierFirstName %></li>
                                    <li>Contact Name : <%= suppliers[i].supplierCompanyContactName %></li>
                                    <li>Contact Email :</li>
                                    <li>Contact Phone : <%= suppliers[i].supplierCompanyPhone %></li>
                                    <li>Product/Service :</li>
                                    <li>Product/Service Name :</li>
                                    <li>Estimated Cost Price/Unit :</li>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                    <script src="/assets/plugins/owl-carousel/assets/vendors/jquery.mousewheel.min.js"></script>
                </div>
            </div>
        </section>
        <section class="wrapper">
            <div class="inner">
                <div class="row">
                    <div class="col-6 align-right">
                        <button class="btn btn-lg btn-success" type="button" id="back_buyer_btn"> Back</button>
                    </div>
                    <!--<div class="col-6 align-left">-->
                        <!--<button class="btn btn-lg btn-success" type="button" id="submit_btn"> Submit</button>-->
                    <!--</div>-->
                </div>
            </div>
        </section>
    </div>
</section>
<input type="hidden" name="supplier_array" id="supplier_array"/>

<!-- Scripts -->
<!--<script src="/assets/js/jquery.min.js"></script>-->
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="./js/toast.js"></script>-->
<!--<script src="./js/main.js"></script>-->
<!--<script src="./js/offline.js"></script>-->
<!--<script src="./js/app.js"></script>-->
<!--<script src="./js/push.js"></script>-->
<!--<script src="./js/sync.js"></script>-->
<!--<script src="./js/share.js"></script>-->
<!--<script src="./js/menu.js"></script>-->
<script src="/assets/plugins/owl-carousel/assets/vendors/highlight.js"></script>
<script src="/assets/plugins/owl-carousel/assets/js/app.js"></script>
<script>
    $(document).ready(function () {
        toastr.success('You are logged in as a borrower.');

        $('#article').hide();


        $('#to_deal_btn').click(function () {
            // if ($('#full_legal_name').val() == '' || $('#entity_type').val() == '' || $('#legal_address').val() == '' || $('#mailing_address').val() == ''
            //     || $('#taxId').val() == '' || $('#phone').val() == '' || $('#company_name').val() == '' || $('#business_address').val() == ''
            //     || $('#company_taxId').val() == '' || $('#company_phone').val() == '' || $('#company_website').val() == '' || $('#contactName').val() == '') {
            //     toastr.error('Please fill out all the input fields.');
            // } else {
            $('#general').removeClass('active');
            $('#deal').addClass('active');
            // }
        });
        $('#back_general_btn').click(function () {
            $('#deal').removeClass('active');
            $('#general').addClass('active');
        })
        $('#to_buyer_btn').click(function () {
            $('#deal').removeClass('active');
            $('#buyer').addClass('active');
        });
        $('#back_deal_btn').click(function () {
            $('#buyer').removeClass('active');
            $('#deal').addClass('active');
        });
        $('#to_supplier_btn').click(function () {
            $('#buyer').removeClass('active');
            $('#supplier').addClass('active');
        });
        $('#back_buyer_btn').click(function () {
            $('#supplier').removeClass('active');
            $('#buyer').addClass('active');
        });

        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: false,
            nav: true,
            margin: 10,
            responsive: {
                0: {
                    items: 1
                },
                960: {
                    items: 2
                },
                1100: {
                    items: 3
                }
            }
        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY > 0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });

        $('[aria-checked="false"]').click(function () {
            $(this).toggleClass('checked');
            setTimeout(showSelectedItems, 0);
        });

        $('.checked').click(function () {
            alert('sss');
        })

        $('#submit_btn').click(beforeSubmit);
    });

    function showSelectedItems() {
        var elements = $('div.checked');
        var names = [];
        for (var i = 0; i < elements.length; i++) {
            names.push($(elements[i]).attr('data-name'));
        }
        $('textarea#ta_selected_items').val(names.join("\n"));
    }

    function beforeSubmit() {
        var elements = $('div.checked');
        var ids = [];
        for (var i = 0; i < elements.length; i++) {
            ids.push($(elements[i]).attr('data-id'));
        }
        console.log(ids);
        $('#supplier_array').val(ids.join(","));
        $('#borrower_form').submit();
    }

</script>
</body>
</html>
