<!DOCTYPE HTML>
<html>
<head>
    <title>Lender Open Deals</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
    <style>
        .description_div {
            background-color: white;
            border-radius: 10px;
            height: 120px;
            overflow-y: scroll;
            width: 98%;
            padding: 10px 15px;
            margin: 15px 5px;
        }

        .navigate button a {
            font-size: 20px;
            color: white;
        }

        .btn-group-vertical button {
            font-size: 0.75rem;
        }

        .myLenderDeal {
            opacity:0.8;
            background-color: white;
        }
        .lenderDealDiv table tbody tr td {
            color: black!important;
            vertical-align: middle;
        }
        .lenderDealDiv {
            padding: 10px 15px;
        }
        .lenderDealDiv table {
            margin-top: 25px;
        }
        .lenderDealDiv table tbody tr:hover {
            background-color: lightskyblue;
        }
    </style>
</head>
<body style="background-color: #f2f2f2">

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/supplier"><span>Supplier</span></a></div>
    <a href="#menu" id="menu_link"><span id="span_menu">Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="#"> My Deals </a></li>
        <li><a href="#"> Alerts </a></li>
        <li><a href="#"> Messages </a></li>
        <li><a href="#"> Account </a></li>
        <li><a href="#"> Help </a></li>
    </ul>
</nav>

<!-- Banner -->
<section class="banner" style="min-height: 50px;height: 50px;padding: 3.2em 0;">
    <article id="article">
        <img src="/images/slide01.jpg" alt=""/>
        <div class="inner">
            <header>
                <p>A free responsive web site template by <a href="https://templated.co">TEMPLATED</a></p>
                <h2>Hielo</h2>
            </header>
        </div>
    </article>
</section>

<div id="borrower_title">
    Open Deals
</div>
<!-- One -->
<div class="container-fluid"
     style="background-image: url('/images/slide06.jpg');background-repeat: no-repeat;background-size: cover;">
    <section class="wrapper">
        <div class="inner">
            <div class="row navigate" style="opacity: 0.75">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier"> Corporate Info </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier/products_services"> Products/Services </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info active">
                        <a href="/supplier/open_deals"> Open Deals </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier/my_deals"> My Deals </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="one" class="wrapper style2" style="padding-top: 2rem;padding-bottom: 0rem;">
        <div class="inner myLenderDeal">
            <div class="lenderDealDiv text-center">
                <h2> Open Deals Table </h2>
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Company Name</th>
                        <th>Total Deal Amount</th>
                        <th>Buyer Name</th>
                        <th>Contact Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (var i=0; i<deals.length; i++) { %>
                        <tr class="deal_display" data-id="<%= deals[i].id%>">
                            <td><%= i+1 %></td>
                            <td><%= deals[i].companyName %></td>
                            <td><%= deals[i].totalDealAmount %></td>
                            <td><%= deals[i].buyerFullLegalName %></td>
                            <td><%= deals[i].contactName %></td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- Two -->
    <section class="wrapper" style="padding-top: 10px;top: 20px">
        <div class="inner" style="background-color: black; padding: 5px 15px;opacity: 0.8">
            <div class="align-left">
                <header>
                    <h2 style="padding-left: 30px;color: white">Your Story</h2>
                </header>
                <div>
                    <p style="padding:5px 10px;color: white"> Cras aliquet urna ut sapien tincidunt, quis
                        malesuada elit facilisis.
                        Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum.
                        Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved.
    </div>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js"></script>
<!--<script src="./js/toast.js"></script>-->
<!--<script src="./js/main.js"></script>-->
<!--<script src="./js/offline.js"></script>-->
<!--<script src="./js/app.js"></script>-->
<!--<script src="./js/push.js"></script>-->
<!--<script src="./js/sync.js"></script>-->
<!--<script src="./js/share.js"></script>-->
<!--<script src="./js/menu.js"></script>-->
<script>
    $(document).ready(function () {
        toastr.success('You are logged in as a lender.');
        $('#article').hide();
        $('.deal_display').click(function () {
            $(this).css('opacity', '0.6');
            var dealId = $(this).attr('data-id');
            window.location.href='/supplier/openDeals/details/?id=' + dealId;
        });
    })
</script>
</body>
</html>
