<!DOCTYPE HTML>
<html>
<head>
    <title>Supplier</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
    <style>
        .box {
            opacity: 0.85;
            background-color: black;
        }

        .box header h2 {
            color: white !important;
        }

        .box .form-group .form-control {
            background-color: white !important;
            border-radius: 5px;
        }

        .box .form-group label {
            color: white !important;
        }

        .navigate button a {
            font-size: 20px;
            color: white;
        }

        .box ul li {
            color: white !important;
        }
    </style>
</head>
<body style="background-color: #f2f2f2">

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/supplier"><span>Supplier</span></a></div>
    <a href="#menu" id="menu_link"><span id="span_menu">Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Generics</a></li>
        <li><a href="#">Elements</a></li>
    </ul>
</nav>

<!-- Banner -->
<section class="banner" style="min-height: 50px;height: 50px;padding: 3.2em 0;">
    <article id="article">
        <img src="/images/slide01.jpg" alt=""/>
        <div class="inner">
            <header>
                <p>A free responsive web site template by <a href="https://templated.co">TEMPLATED</a></p>
                <h2>Hielo</h2>
            </header>
        </div>
    </article>
</section>

<div id="borrower_title">
    Supplier
</div>
<!-- One -->
<div class="container-fluid"
     style="background-image: url('/images/slide02.jpg');background-repeat: no-repeat;background-size: cover;">
    <section class="wrapper">
        <div class="inner">
            <div class="row navigate" style="opacity: 0.75">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier"> Corporate Info </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier/products_services"> Products/Services </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info active">
                        <a href="/supplier/open_deals"> Open Deals </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier/my_deals"> My Deals </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="one" class="wrapper style2" style="padding-top: 2rem;padding-bottom: 0rem;">
        <div class="inner">
            <div class="grid-style">
                <div>
                    <div class="box">
                        <div class="content">
                            <header class="align-center">
                                <h2>Deal Information</h2>
                            </header>
                            <ul style="list-style-type: none">
                                <li>Borrower Name: <%= deal.fullLegalName %></li>
                                <li>Company Name: <%= deal.companyName %></li>
                                <li>Total Deal Amount: <%= deal.totalDealAmount %></li>
                                <li>Deal Type: <%= deal.dealType %></li>
                                <li>Contact Name: <%= deal.contactName %></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="box">
                        <!--<div class="image fit">-->
                        <!--<img src="images/pic03.jpg" alt=""/>-->
                        <!--</div>-->
                        <div class="content">
                            <header class="align-center">
                                <h2>Product Services</h2>
                            </header>
                            <div class="form-group text-left">
                                <!--<label>Company Name:</label>-->
                                <select name="productService" id="productService" class="form-control">
                                    <% for (var i = 0;i < products.length;i++) { %>
                                    <option value="<%= products[i].id %>"><%= products[i].productServiceDescription %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="tab-content">
                                <!--<ul>-->
                                    <!--<li>Supplier Name: <%= products[0].supplierName %></li>-->
                                <!--</ul>-->
                            </div>
                            <br>
                            <div class="text-center" style="width: 100%">
                                <button class="btn btn-lg btn-success" id="btn_product_submit"> Submit </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Two -->

    <!--<section class="wrapper">-->
        <!--<div class="inner">-->
            <!--<div class="row">-->
                <!--<div class="col-6 align-right">-->
                    <!--<button class="btn btn-lg btn-success" style="opacity:0.9;color: white!important;"> Cancel</button>-->
                <!--</div>-->
                <!--<div class="col-6 align-left">-->
                    <!--<button class="btn btn-lg btn-success" style="opacity:0.9;color: white!important;"-->
                            <!--id="btn_corporate_submit"> Submit-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
</div>


<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved.
    </div>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js"></script>
<!--<script src="./js/toast.js"></script>-->
<!--<script src="./js/main.js"></script>-->
<!--<script src="./js/offline.js"></script>-->
<!--<script src="./js/app.js"></script>-->
<!--<script src="./js/push.js"></script>-->
<!--<script src="./js/sync.js"></script>-->
<!--<script src="./js/share.js"></script>-->
<!--<script src="./js/menu.js"></script>-->
<script>
    $(document).ready(function () {

        $('#article').hide();

        $('#btn_product_submit').click(function () {
            var productId = $('#productService').val();
            $.ajax({
                url:'/supplier/participate',
                data: {
                    productId: productId
                },
                type: 'post',
                success: function (data) {
                    alert(data);
                }
            })
        });

    })
</script>
</body>
</html>
