<!DOCTYPE HTML>
<html>
<head>
    <title>Supplier Products Details</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css">
    <style>
        .box {
            opacity: 0.85;
            background-color: black;
        }

        button a {
            color: white!important;
        }

        .box header h2 {
            color: white !important;
        }

        .box .form-group .form-control {
            background-color: white !important;
            border-radius: 5px;
        }

        .box ul li {
            color: white !important;
        }

        .navigate button a {
            font-size: 20px;
        }
    </style>
</head>
<body style="background-color: #f2f2f2">

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/supplier"><span>Supplier</span></a></div>
    <a href="#menu" id="menu_link"><span id="span_menu">Menu</span></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Generics</a></li>
        <li><a href="#">Elements</a></li>
    </ul>
</nav>

<!-- Banner -->
<section class="banner" style="min-height: 50px;height: 50px;padding: 3.2em 0;">
    <article id="article">
        <img src="/images/slide01.jpg" alt=""/>
        <div class="inner">
            <header>
                <p>A free responsive web site template by <a href="https://templated.co">TEMPLATED</a></p>
                <h2>Hielo</h2>
            </header>
        </div>
    </article>
</section>

<div id="borrower_title">
    Supplier
</div>
<!-- One -->
<div class="container-fluid" style="background-image: url('/images/slide04.jpg');background-repeat: no-repeat;background-size: cover;">
    <section class="wrapper">
        <div class="inner">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier"> Corporate Info </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info active">
                        <a href="/supplier/products_services"> Products/Services </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier/open_deals"> Open Deals </a>
                    </button>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 text-center" style="margin-bottom: 15px">
                    <button class="btn btn-block btn-info">
                        <a href="/supplier/my_deals"> My Deals </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="one" class="wrapper style2" style="padding-top: 2rem;padding-bottom: 0rem;">
        <div class="inner">
            <div class="grid-style box">
                <header class="text-left" style="width: 100%; margin: 25px 50px">
                    <h2>Product/Service Details</h2>
                </header>
                <div class="row" style="width: 100%;">
                    <div class="col-md-6 col-sm-12 col-12">
                        <ul style="list-style-type: none">
                            <li>Product/Service Description: <%= product.productServiceDescription%></li>
                            <li>Quality Control: <%= product.quantityControl%></li>
                            <li>Expected Payment Terms: <%= product.expectedPaymentTerms%></li>
                            <li>Quantity able to provide: <%= product.quantityAbleToProvide%></li>
                            <li>Factory Location: <%= product.factoryLocation%></li>
                            <li>Incoterm: <%= product.incoterm%></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <ul style="list-style-type: none">
                            <li>Measurement Unit: <%= product.measurementUnit%></li>
                            <li>Required licenses in place: <%= product.licensePlace%></li>
                            <li>Able to provide by: <%= product.ableToProvideBy%></li>
                            <li>Expected price per unit: <%= product.EPPU%></li>
                            <li>Suitability for the deal(%): <%= product.suitability%></li>
                            <li>Production History: <%= product.history%></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper">
        <div class="inner">
            <div class="row">
                <div class="col-6 align-right">
                    <button class="btn btn-lg btn-success"><a href="/supplier/products_services"> Back </a></button>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved.
    </div>
</footer>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js"></script>
<!--<script src="./js/toast.js"></script>-->
<!--<script src="./js/main.js"></script>-->
<!--<script src="./js/offline.js"></script>-->
<!--<script src="./js/app.js"></script>-->
<!--<script src="./js/push.js"></script>-->
<!--<script src="./js/sync.js"></script>-->
<!--<script src="./js/share.js"></script>-->
<!--<script src="./js/menu.js"></script>-->
<script>
    $(document).ready(function () {
        // toastr.success('You are logged in as a borrower.');
        $('#article').hide();
    })
</script>
</body>
</html>
